@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@font-face {
    font-family: Adistria;
    src: url(../fontes/Adistria.ttf);
}


*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte1: 'Patua One', cursive;
    --fonte2:'Cinzel', serif;
    --fonte3: 'Adistria';
}
html, body{
    margin:auto;
    font-family: var(--fonte1);
    background-color: #FFFFFF;
}
header{
    width: auto;
    background-color: black;
    background-image: url(../imagens/caneta.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset  1px -8px 20px 0px rgba(0, 0, 0, 0.356);
}
header > h1{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 11vh;
    text-align: justify;
    padding-left: 20px;
    display: inline-block;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.342);
}
header > p{
    color: #420707;
    width: auto;
    font-family: var(--fonte3);
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    display: block;
}
.topicos{
    text-align: end;
    padding-right: 20px;
    padding-bottom: 15px;
}
a.cabecalho{
    text-decoration: none;
    color: rgb(29, 3, 2);
    font-size: 20.5px;
}
.cabecalho:hover{
    background-color: rgb(59, 22, 3);
    border-radius: 20px;
    padding: 8px;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}

main{
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    width: auto;
    box-shadow: 1px -8px 20px 0px rgba(0, 0, 0, 0.356);
}

section.funcao{
    line-height: 2em;
    padding-top: 100px;
    padding-bottom: 100px ;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0px;
    text-align: center;
    font-size: 20px;  
}
section.funcao > h2{
    font-weight: normal;
    font-family: var(--fonte1);
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
    color: rgb(51, 0, 0);
}
section.funcao > p{
    text-align: center;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 15px;
    color: rgb(0, 0, 0);
}
section.samba{
    background-color: rgb(255, 255, 255); 
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 50px;
    line-height: 3em;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.507);
}
section#img1{
    background-image: url(../imagens/redentor.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow:inset 2px 2px 20px 0px rgba(0, 0, 0, 0.507);
}

section.samba > p{
    display: inline-block;
    box-shadow: 4px 7px 20px 0px rgba(0, 0, 0, 0.432);
    background-color: rgba(0, 0, 0, 0.178);
    text-align: justify;
    font-size: 20px;
    padding: 40px;
    border-radius: 20px;
    color: rgb(255, 217, 217);
}
em{
    font-size: medium;
    color: #420707;
}
section.alucinacao{
    line-height: 2em;
    padding-top: 100px;
    padding-bottom: 100px ;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0px;
    text-align: center;
    font-size: 20px;  
}
section.alucinacao > h2{
    font-weight: normal;
    font-family: var(--fonte1);
    font-size: 40px;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
    color: rgb(51, 0, 0);
}

strong{
    color: white;
    font-size: 25px;
    font-weight: normal;
}
section.alucinacao > p{
    text-align: center;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
}

section.cantico{
    background-color: rgb(255, 255, 255); 
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 50px;
    line-height: 3em;
    box-shadow: inset 2px 2px 20px 0px rgba(0, 0, 0, 0.507);
}
section#img2{
    background-image: url(../imagens/maos.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow:inset 2px 2px 20px 0px rgba(0, 0, 0, 0.555);
}
section.cantico > p{
    display: inline-block;
    box-shadow: 4px 7px 20px 0px rgba(0, 0, 0, 0.432);
    background-color: rgba(0, 0, 0, 0.178);
    text-align: justify;
    font-size: 20px;
    padding: 40px;
    border-radius: 20px;
    color: rgb(255, 217, 217);
}
footer{
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    padding: 5px;
}
a.footer{
    color: rgb(255, 49, 49);
    text-decoration: none;
}
a.footer:hover{
    text-decoration:underline ;
    font-size: 20px;
}